.Header {
  display: flex;
  padding: 10px;
  width: var(--inner);
  margin: var(--center);
  left: 0;
  right: 0;
  position: fixed;
}
h1 {
  font-family: var(--monoton);
  font-size: 35px;
  cursor: pointer;
}

.navigate {
  padding-left: 20px;
  flex: 1;
  display: flex;
  gap: 20px;
}

.actions {
  display: flex;
  gap: 15px;
}
