.ErrorInput {
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: white;
}
.ErrorInput label {
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 1px;
  padding-left: 3px;
  font-family: var(--barlow);
  font-weight: var(--barlow-semi-bold);
}
.ErrorInput input {
  color: white;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--black-300);
  border-radius: 3px;
  padding: 5px;
  transition: 0.2s;
  font-size: 17px;
}
.ErrorInput input:focus {
  border: 1px solid var(--black-100);
}
.ErrorInput .errorMessage {
  font-family: var(--nanum);
  font-weight: var(--nanum-semi-bold);
  color: #ff7272;
  font-size: 14px;
  padding-left: 3px;
}
